/* Reset some default styles for better consistency */
body,
html {
	background-color: #111;
	color: white;
}

/* Style for the game container */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.card {
    width: 6.5rem;
    height: auto;
    background-color: #3e3e3e;
    font-size: 0.75rem;
    padding: 9px;
    text-align: center;
}

.active, .card:hover {
    background-color: #1d1d1d;
  }

.card-body {
    padding: 0px;
}

.card-img-canvas {
    display: flex;
    height: 3.1rem;
    width: auto;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.card-img {
    max-width: 100%;
    max-height: 100%;
}

.country-name {
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.67rem;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    min-height: 2.1rem;
}

.list-group-item {
    background-color: inherit;
    color: #ddd;
    text-transform: lowercase;
    font-size: 0.9rem;
    border-top: 1px solid #444 !important;
    border-bottom: 0px !important;
    padding: 1px;
    padding-top: 0.3rem;
    margin-top: 0.3rem;
}

/* Style for individual letter tiles in the grid */
.word-grid {
	display: grid;
	grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(6, auto);
}

.letter-tile {
	width: 50px;
	height: 50px;
	border: 2px solid #333;
	border-radius: 20%;
	margin: 3px;
	color: white;
	/* background-color: #333; */
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	display: grid;
	font-size: 1.7rem;
}