.translations-container {
  /*margin-top: 10px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.translation-card {
  width: 10rem;
  background-color: #444;
  margin: 5px;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 3px;
}

.translation-card:hover {
  background-color: #1d1d1d;
}

.revealed {
  background-color: #1d1d1d;
  cursor: default;
  opacity: 0.8;
}

.flag {
  height: 3.1rem;
  max-width: 100%;
  max-height: 100%;
}

.country-name {
  color: #aaa;
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
  margin-top: 0.6rem;
}

.translations-list {
  list-style: none;
}

.translations-list li {
  color: #ddd;
  padding: 5px;
  border-top: 1px solid #555;
  text-transform: capitalize;
  font-size: large;
  font-weight: bold;
  margin: 9px;
}
